<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dataTable</title>
</head>
<body>
    <table border="1" title="企业2001-2010年各年销售因素数据">
        <thead>
            <tr>
                <th>年份</th>
                <th>销售量（万台）</th>
                <th>价格（元）</th>
                <th>广告支出（万元）</th>
                <th>汽车产量（万台）</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="salesElems : ${list}">
                <td th:text="${salesElems.year}"></td>
                <td th:text="${salesElems.proceeds}"></td>
                <td th:text="${salesElems.price}"></td>
                <td th:text="${salesElems.ad}"></td>
                <td th:text="${salesElems.carOutput}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>